#nav {
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;
	color: #e0e0e0;
	z-index: 100;
	background: url('i/blur-background10.jpg');
}

#nav-content-wrapper {
	background: rgb(80, 80, 80);
	background: rgba(120, 120, 120, 0.5);
	margin-top: 20px;
}

#nav-content {
	padding: 10px 40px;
	min-width: 600px;
	max-width: 1200px;
	margin: 0 auto;
}

#nav a {
	color: #d4d4d4;
	text-decoration: none;
}

#nav a:hover {
	text-decoration: underline;
}

#nav ul {
	display: inline;
}

#nav ul li {
	list-style-type: none;
	display: inline;
	padding-right: 10px;
}

#nav ul li a {
	text-transform: uppercase; 
}

#logged-in {
	display: none;
}

#login-box {
	position: absolute;
	display: none;
	z-index: 50;
	right: 0px;
	top: 38px;
	border-radius: 0px 10px 10px 10px;
	background-color: #333;
	color: #e0e0e0;
	padding: 10px;
	box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.2);
}

#login-box label {
	display: block;
	float: left;
	clear: left;
	text-align: right;
	width: 80px;
	font-size: 0.9em;
	padding-right: 8px;
}

#login-box input {
	display: block;
	width: 150px;
	margin-bottom: 5px;
	padding: 3px;
}

#login-box button {
	margin-left: 5px;
}

#kb-logo {
	margin: 0 auto;
	background-image: url('i/kb-logo.jpg');
	width: 400px;
	height: 145px;
	border-radius: 10px;
	box-shadow: 1px 1px 4px 2px rgba(0, 0, 0, 0.3);
}

#kb-logo h1, #kb-logo h2 {
	display: none;
}

#searchbar {
	padding: 5px 10px;
	border-radius: 10px;
	background: rgb(120, 120, 120);
	background: rgba(220, 220, 220, 0.5);
	color: #fff;
	margin: 0 auto;
	min-width: 600px;
	max-width: 1200px;
	margin-top: 20px;
	margin-bottom: 20px;
}

#searchbar img {
	padding-right: 5px;
	padding-top: 3px;
	height: 30px;
}

#searchbar input {
	padding: 0px 5px;
	height: 30px;
	font-size: 1.05em;
}

.searchinpt {
	width: 100%;
}

#searchbar select {
	margin-left: 15px;
	height: 30px;
	font-size: 1.05em;
}

#searchbar button {
	margin-left: 5px;
	padding-left: 8px;
	padding-right: 3px;
	padding-top: 2px;
	height: 30px;
	font-size: 1.1em;
}

#searchbar button img {
	height: 20px;
}

#center-container {
	margin: 0 auto;	
	margin-top: 10%;
	text-align: center;
}

#main {
	margin: 0 auto;
	padding-left: 20px;
	padding-right: 20px;
	min-width: 600px;
	max-width: 1200px;
}

#profile {
	width: 250px;
	margin-left: -20px;
	border-radius: 10px;
	padding: 10px 12px;
	float: left;
	background: rgb(120, 20, 20);
	background: rgba(160, 0, 0, 0.5);
	color: #fff;
}

#profile h1, #profile h2, #profile h3, #profile h4 {
	color: #ff4038;
	margin-top: 15px;
	margin-bottom: 10px;
}

#profile h5 {
	color: #ff4038;
}

#profile h6 {
	color: #fff;
	padding-left: 5px;
	padding-bottom: 5px;
}

#profile p {
	margin-bottom: 10px;
	margin-top: 10px;
}

#profile-img {
	display: block;
	border: 0;
	width: 200px;
	height: auto;
	margin: 0 auto;
	margin-top: 8px;
	margin-bottom: 12px;
	border-radius: 10px;
	box-shadow: 2px 2px 3px 1px rgba(0, 0, 0, 0.3);
}

#profile ul {
	font-family: 'Nixie One', serif;
	list-style-position: inside;
	font-size: 0.8em;
	padding-left: 1em;
	text-indent: -1em;
	padding-bottom: 20px;
}

#content {
	margin-left: 280px;
	max-width: 900px;
}

#content-header {
	width: 100%;
	border-radius: 10px;
	padding: 10px 12px;
	margin-bottom: 10px;
	background: rgb(80, 80, 80);
	background: rgba(120, 120, 120, 0.5);
	color: #e0e0e0;
}

#content-subheader {
	width: 100%;
	border-radius: 10px;
	padding: 10px 12px;
	margin-bottom: 5px;
	background: rgb(20, 30, 60);
	background: rgba(15, 20, 80, 0.5);
	color: #e0e0e0;
	overflow: hidden;
}

#content-body {
	width: 100%;
	border-radius: 10px;
	padding: 10px 12px;
	background: rgb(80, 80, 80);
	background: rgba(120, 120, 120, 0.5);
	color: #e0e0e0;
}

#drop-content-usermenu {
	position: absolute;
	top: 38px;
	right: 0;
	padding: 5px 15px 5px 5px;
	border-radius: 0px 10px 10px 10px;
	background-color: #333;
	color: #e0e0e0;
	padding: 10px;
	box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.2);
}

#drop-content-usermenu ul {
	display: block;
}

#drop-content-usermenu ul li {
	display: block;
	padding: 0;
	margin: 0;
}

#drop-content-usermenu ul li a {
	margin: 0;
	padding: 3px;
	font-size: 0.85em;
	text-decoration: none;
	width: 100%;
	display: block;
}

#drop-content-usermenu ul li a em {
	font-style: normal;
	font-weight: bold;
}

#drop-content-usermenu ul li a:hover {
	color: #fff;
	background-color: #CD0000;
	text-decoration: none;
}

#sell-box {
	display: none;
	position: absolute;
	top: 50%;
	left: 50%;
	width: 600px;
	max-height: 85%;
	margin-left: -300px;
	margin-top: -290px;
	background-color: #CCC;
	border-radius: 20px;
	z-index: 100;
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 15px;
	padding-bottom: 15px;
	overflow-y: auto;
	-webkit-box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.5);
	-moz-box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.5);
	box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.5);
}

#sell-box a {
	color: #22d;
}

#sell-box h3 {
	padding-bottom: 10px;
}

#sell-box h4 {
	padding-bottom: 20px;
	color: #cd0000;
	text-shadow: 2px 2px 2px rgba(255, 255, 255, 0.3);
}

#sell-box label {
	display: block;
	float: left;
	clear: left;
	text-align: right;
	width: 165px;
	font-size: 0.9em;
	padding-right: 8px;
}

#sell-box input[type="text"] {
	display: block;
	width: 400px;
	margin-bottom: 5px;
	padding: 5px;
}

#sell-box input[type="file"] {
	width: 400px;
	margin-bottom: 5px;
	padding: 5px;
}

#sell-box textarea {
	display: block;
	width: 400px;
	margin-bottom: 5px;
	padding: 5px;	
}

#sell-box select {
	display: block;
	width: 410px;
	margin-bottom: 5px;
	padding: 5px;
}

#sell-box button {
	margin-right: 5px;
}

.sell-spec {
	font-size: 0.9em;
	margin-bottom: 5px;
	margin-left: 5%;
}

.sell-spec-name {
	margin-left: 7%;
	width: 43% !important;
	display: inline-block !important;
}

.sell-spec-value {
	width: 43% !important;
	display: inline-block !important;
}

#sell-spec-add {
	text-align: right;
	margin-right: 18px;
	font-size: 0.9em;
}

#sell-spec-add a {
	position: relative;
	top: -5px;
}

#sell-spec-add a img {
	position: relative;
	top: 6px;
	padding-right: 3px;
	height: 20px;
	width: 20px;
}

#register-box {
	display: none;
	position: absolute;
	top: 50%;
	left: 50%;
	width: 550px;
	max-height: 85%;
	margin-left: -300px;
	margin-top: -290px;
	background-color: #CCC;
	border-radius: 20px;
	z-index: 100;
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 15px;
	padding-bottom: 15px;
	overflow-y: auto;
	-webkit-box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.5);
	-moz-box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.5);
	box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.5);
}

#register-box a {
	color: #22d;
}

#register-box h3 {
	padding-bottom: 10px;
}

#register-box h4 {
	padding-bottom: 20px;
	color: #cd0000;
	text-shadow: 2px 2px 2px rgba(255, 255, 255, 0.3);
}

#register-box label {
	display: block;
	float: left;
	clear: left;
	text-align: right;
	width: 250px;
	font-size: 0.9em;
	padding-right: 8px;
}

#register-box input[type="text"] {
	display: block;
	width: 270px;
	margin-bottom: 5px;
	padding: 5px;
}

#register-box select {
	display: block;
	width: 280px;
	margin-bottom: 5px;
	padding: 5px;
}

#register-box button {
	margin-left: 5px;
}

#register-box .form-line:nth-of-type(1) {
	margin-top: 25px;
}

#quick-bid-details {
	float: left;
	margin-top: 10px;
	margin-right: 10px;
	text-align: center;
}

#quick-bid-details h4 {
	font-size: 1em;
	color: #c8c8c8;
}

#quick-bid-details h5 {
	font-size: 0.75em;
	color: #666;
}

#quick-bid-details h5 a {
	font-size: 1.25em;
	color: #b8b8b8;
}

#quick-bid-dollars, #quick-bid-btc {
	float: left;
	margin-left: 20px;
	margin-bottom: 8px;
	background: rgba(0, 0, 0, 0.2);
	padding: 8px;
}

#quick-bid-dollars h2 {
	color: #20cd20;
}

#quick-bid-btc h2 {
	color: #cd2020;
}

#quick-bid-dollars input, #quick-bid-btc input {
	padding: 5px;
	margin-top: 10px;
	margin-bottom: 5px;
	height: 20px;
	width: 100px;
}

#quick-bid-dollars button, #quick-bid-btc button {
	margin-left: 10px;
	position: relative;
	top: 1px;
}

#quick-bid-dollars h5, #quick-bid-btc h5 {
	font-size: 0.8em;
	font-family: 'Nixie One', serif;
}

#quick-bid-time {
	clear: left;
	margin-bottom: 5px;
}

#quick-bid-time h4 {
	font-size: 0.9em;
	font-family: 'Nixie One', serif;
}

#quick-bid-time-remaining {
	color: #ff2020;
}

#quick-bid-time h5 {
	font-size: 0.9em;
	font-family: 'Nixie One', serif;
}

#quick-bid-auction-ends {
	color: #999;
}

#quick-bid-links ul {
	display: inline;
}

#quick-bid-links ul li {
	list-style-type: none;
	display: inline;
	padding-right: 10px;
}

#quick-bid-links ul li a {
	color: #ccc;
}

.links {
	float: left;
}

.login {
	float: right;
}

.form-line {
	clear: both;
	margin-top: 10px;
	margin-right: 12px;
	text-align: right;
}

.tag {
	display: block;
	text-align: right;
}

.tag a {
	color: #d0d0d0;
}

.lnk-hash {
	background-color: rgba(0, 0, 200, 0.1);
	padding-left: 4px;
	padding-right: 4px;
	color: #6666ff;
}

.button-wrapper {
	width: 100%;
	text-align: center;
}

.button-wrapper button {
	margin-left: 5px;
	margin-right: 5px;
}

.blurb {
	padding-top: 10px;
	padding-left: 15px;
	padding-bottom: 10px;
	margin-bottom: 10px;
	background: rgb(100, 100, 100);
	background: rgba(255, 255, 255, 0.2);
}

.blurb input {
	width: 80%;
	margin-top: 5px;
	height: 22px;
	padding-left: 5px;
	padding-right: 5px;
}

.blurb button {
	float: right;
	margin-top: 5px;
	width: 15%;
	margin-right: 2%;
	padding: 4px 6px;
	font-size: 0.8em;
}

.blurb h6 {
	padding-left: 15px;
	padding-top: 2px;
	font-family: 'Nixie One', serif;
	font-weight: normal;
	font-size: 0.8em;
	text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.8);
}

.blurb ul {
	padding-bottom: 4px;
}

.blurb li {
	list-style: none;
	padding-left: 25px;
	font-family: 'Nixie One', serif;
	font-size: 0.8em;
	clear: both;
}

.blurb li a {
	color: #f0f0f0;
	text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.8);
}

#item-images {
	margin-left: 10px;
	margin-right: 20px;
}

.thumb-main {
	width: 200px;
	height: 200px;
	display: block;
	border-radius: 10px;
	margin-bottom: 8px;
	box-shadow: 1px 1px 4px 3px rgba(0,0,0,0.2);
}

.thumb-small {
	width: 34px;
	height: 34px;
	display: inline-block;
	border-radius: 5px;
	box-shadow: 1px 1px 3px 2px rgba(0,0,0,0.2);
}

#item-images {
	float: left;
	width: 200px;
	padding-top: 5px;
}

#tab-content-details h2 {
	padding-top: 12px;
	padding-bottom: 8px;
}

#item-details-table {
	font-family: 'Nixie One', serif;
	background: rgba(0, 0, 0, 0.1);
	padding: 5px;
	color: #fff;
}

#item-details-table td {
	padding-bottom: 2px;
}

.item-details-name {
	padding-right: 35px;
}

.item-details-value {
	padding-left: 10px;
}

.event {
	float: left;
	clear: left;
	padding-bottom: 10px;
	border-bottom: 1px dashed #999;
	margin-bottom: 15px;
	width: 85%;
}

.event-question {
	float: left;
	clear: left;
	padding-bottom: 10px;	
}

.event-answer {
	float: left;
	clear: left;
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;         /* Opera/IE 8+ */
	padding-left: 25px;
	padding-bottom: 10px;
	border-bottom: 1px dashed #999;
	margin-bottom: 15px;
	width: 85%;	
}

.event em {
	color: #f4f4f4;
}

.event-tag {
	display: block;
	clear: none;
	padding-top: 5px;
	padding-left: 50px;
	font-size: 0.8em;
	color: #999;
}

.event-tag a {
	color: #c0c0c0;
}

.event-time {
	float: right;
	clear: right;
	font-family: 'Roboto', sans-serif;
	color: #b0b0b0;
	width: 15%;
	text-align: right;
}

.quote {
	font-family: 'Nixie One', serif;
	background: rgba(0, 0, 0, 0.15);
}

.left-quote {
	font-family: 'Nixie One', serif;
	font-size: 3.5em;
	display: inline-block;
	position: relative;
	top: 0.4em;
	margin-top: -0.4em;
	color: #999;
}

.right-quote {
	font-family: 'Nixie One', serif;
	font-size: 3.5em;
	display: inline-block;
	position: relative;
	top: 0.55em;
	margin-top: -0.55em;
	margin-bottom: 0.3em;
	color: #999;
}

.lnk-name {
	color: #ff6060;
}

.results-img-wrapper {
	float: left;
	background: #FFF;
	padding: 0;
	width: 200px;
	border-radius: 10px;
	box-shadow: 0px 0px 3px 2px rgba(0, 0, 0, 0.3);
	overflow: hidden;
}

.results-img-wrapper img {
	display: block;
	margin: 0 auto;
}

.results-price {
	float: right;
	border-radius: 10px;
	padding: 5px 10px;
	margin-left: 5px;
	background: #999;
	background: rgba(255, 255, 255, 0.2);
	text-align: right;
	font-family: serif;
}

.results-price-btc {
	color: #FF0000;
	font-weight: bold;
}

.results-price-dollars {
	color: #00ff00;
	font-weight: bold;
}

.results-price-bids {
	color: #c0c0c0;
	font-size: 0.8em;
}

.results-price-watchers {
	color: #b4b4b4;
	font-size: 0.8em;
}

.results-details {
	margin-left: 215px;
}

.results-details h6 {
	margin-bottom: 10px;
}

.results-endtime {
	font-family: 'Roboto', sans-serif;
	font-style: italic;
	font-size: 0.9em;
}

.results-soldby {
	font-family: 'Roboto', sans-serif;
	font-style: italic;
	font-size: 0.9em;
}

.results-soldby a {
	font-weight: bold;
	font-style: normal;
	font-variant: small-caps;
	text-decoration: none;
	font-size: 1em;
}

.results-soldby a:hover {
	text-decoration: underline;
}

.results-custom {
	display: block;
	margin-top: 5px;
	margin-left: -5px;
	color: #d0d0d0;
}

.results-clear {
	clear: both;
	padding-top: 10px;
	border-bottom: 1px dashed #999;
	margin-bottom: 10px;
}

.clear {
	clear: both;
}

.footer {
	clear: both;
	height: 20px;
}

.tabs input[type=radio] {
	position: absolute;
	top: -9999px;
	left: -9999px;
}

.tabs {
	list-style: none;
	position: relative;
	margin-top: 10px;
}

.tabs li{
  	float: left;
}

.tabs label {
	display: block;
	padding: 6px 10px 0px 10px;
	height: 24px;
	font-size: 0.9em;
	background: rgb(80, 80, 80);
	background: rgba(120, 120, 120, 0.5);
	color: #e0e0e0;
	cursor: pointer;
	position: relative;
	-webkit-transition: all 0.1s ease-in-out;
	-moz-transition: all 0.1s ease-in-out;
	-o-transition: all 0.1s ease-in-out;
	transition: all 0.1s ease-in-out;
}

.tabs label:hover {
	background: rgb(120, 120, 120);
	background: rgba(255, 255, 255, 0.5);
	color: #fff;
	transition: height 0s;
	top: -2px;
	height: 26px;
}
       
[id^=tab]:checked + label {
	background: rgb(200, 40, 40);
	background: rgba(200, 0, 0, 0.6);
	color: #fff;
    top: -2px;
    height: 26px;
}

[id^=tab]:checked ~ [id^=tab-content] {
	display: block;
}

.tab-content{
	z-index: 10;
	display: none;
	position: absolute;
	top: 30px;
	left: 0;
	width: 100%;
	background: rgb(80, 80, 80);
	background: rgba(120, 120, 120, 0.5);
	color: #e0e0e0;
	padding: 10px;
}

.dropdown input[type=checkbox] {
	position: absolute;
	top: -9999px;
	left: -9999px;
}

.dropdown label {
	color: #808080;
	cursor: pointer;
	position: relative;
	padding-bottom: 15px;
}

.dropdown input[type=checkbox]:checked + label {
	color: #ff2020;
}

.dropdown:hover > .drop-content {
	display: block;
}

[id^=drop]:checked ~ [id^=drop-content] {
	display: block;
}

.drop-content{
	z-index: 10;
	display: none;
}

.req-star {
	color: #cd0000;
}

.req-comment {
	font-size: 0.8em;
}

button .inactive {
	background-color: #666;
	background: linear-gradient(rgba(100, 100, 100, 1), rgba(75, 75, 75, 1));
	cursor: default;
}

button {
	margin: 0;
	border: 0;
	padding: 6px 10px;
	background-color: #cd0000;
	background: linear-gradient(rgba(210, 0, 0, 1), rgba(170, 0, 0, 1));
	color: #fff;
	font-size: 1em;
	border-radius: 3px;
	text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
	box-shadow: 1px 1px 2px 0px rgba(0,0,0,0.5);
	cursor: pointer;
}

input {
	border: 0;
	background: rgb(180, 180, 180);
	background: rgba(255, 255, 255, 0.5);
}

textarea {
	border: 0;
	background: rgb(180, 180, 180);
	background: rgba(255, 255, 255, 0.5);	
}

select {
	border: 0;
	background: rgb(180, 180, 180);
	background: rgba(255, 255, 255, 0.5);
}

h1 {
	text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
	font-size: 1.8em;
}

h2 {
	text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
	font-size: 1.4em;
}

h3 {
	text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
	font-size: 1.2em;
}

h4 {
	text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
	font-size: 1.1em;
}

h5 {
	text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
	font-size: 1em;
}

h6 {
	text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
	font-size: 0.9em;
}

p {
	font-family: 'Nixie One', serif;
	font-size: 0.85em;
	line-height: 1.55em;
	text-shadow: 1px 1px 2px rgba(0, 0, 0, 1);
}

em {
	font-weight: bold;
	font-style: normal;
}

a {
	color: #f4f4f4;
	text-decoration: underline;
}

body {
	margin: 0;
	padding: 0px 20px;
	background: #333;
	background: url('i/blur-background10.jpg') no-repeat center center fixed;
 	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	color: #000000;
	font-family: 'Roboto', sans-serif;
	letter-spacing: 0.0625em;
    font-size: 100%;
    line-height: 1.125em;
    -webkit-font-smoothing: antialiased;
}


html, div, h1, h2, h3, h4, h5, h6, ul, ol, dl, li, dt, dd, p, blockquote, pre, form, fieldset, label, table, th, td, a { margin: 0; padding: 0; }
input, select { margin: 0; }
