<div id="nav-content-wrapper"><div id="nav-content">
	<div class="links">
		<ul>
			<li><a href="index.html" id="lnk-home">home</a></li>
			<li><a href="buy.html" id="lnk-buy">buy</a></li>
			<li><a href="sell.html" id="lnk-sell">sell</a></li>
			<li><a href="support.html" id="lnk-support">support</a></li>
			<li><a href="contact.html" id="lnk-contact">contact</a></li>
		</ul>
	</div>

	<div class="login" id="login">
		<a href="login.html" id="lnk-login">Login</a> or <a href="register.html" id="lnk-register">Register</a>
	</div>
	<div id="login-box">
		<form action="">
			<label for="login-email">E-mail:</label>
			<input type="text" name="login-email" id="login-email" />
			<label for="login-password">Password:</label>
			<input type="password" name="login-password" id="login-password" />
			<div class="form-line">
				<button type="submit" id="login-submit">submit</button>
				<button id="login-cancel">cancel</button>
			</div>
	 	</form>
	</div>
	<div class="login" id="logged-in">
		Welcome, 
		<span class="dropdown">
			<input type="checkbox" name="dropdown" id="drop-usermenu" />
			<label for="drop-usermenu"><a href="user-menu.html">Cliff Hensley</a> &#9660;</label>
			<div id="drop-content-usermenu" class="drop-content">
				<ul>
 					<li><a href="settings.html" id="usermenu-settings">I want to see my <em>settings</em></a></li>
					<li><a href="orders.html" id="usermenu-orders">I want to see my <em>orders</em></a></li>
					<li><a href="help.html" id="usermenu-help">I need <em>HELP</em></a></li>
					<li>&nbsp;</li>
					<li><a href="signout.html" id="usermenu-signout">I want to <em>sign out</em></a></li>
 				</ul>
			</div>
		</span>
	</div>
	<div class="clear"></div>
</div></div>