<table>
	<tr>
		<td><img src="i/earmark.gif" alt="" /></td>
		<td class="searchinpt"><input type="text" name="searchinpt" class="searchinpt" /></td>
		<td><select name="category">
			<option value="everything">All Auctions & Profiles</option>
			<option value="auctions">All Auctions</option>
			<option value="profiles">User Profiles</option>
			<option value="antiques">Antiques & Collectibles</option>
			<option value="arts">Arts & Crafts</option>
			<option value="books">Books & Periodicals</option>
			<option value="business">Business & Industrial</option>
			<option value="cameras">Cameras, Equipment & Accessories</option>
			<option value="cellular">Cell Phones, Tablets & Accessories</option>
			<option value="clothing-mens">Clothing, Shoes & Accessories (Men's)</option>
			<option value="clothing-womens">Clothing, Shoes & Accessories (Women's)</option>
			<option value="coins">Coins, Paper Money & Commodities</option>
			<option value="computers">Computers, Software & Networking</option>
			<option value="electronics">Consumer Electronics</option>
			<option value="health-men">Health & Beauty (Men's)</option>
			<option value="health-womens">Health & Beauty (Women's)</option>
			<option value="home">Home & Garden</option>
			<option value="jewelry-mens">Jewelry & Watches (Men's)</option>
			<option value="jewelry-womens">Jewelry & Watches (Women's)</option>
			<option value="music-cds">Music (Cassettes & CDs)</option>
			<option value="music-vinyl">Music (Vinyl)</option>
			<option value="music-instruments">Musical Instruments & Gear</option>
			<option value="new-age">New Age, Metaphysical & Occult</option>
			<option value="pet">Pet Supplies</option>
			<option value="religious">Religious Products & Services</option>
			<option value="sporting">Sporting Goods</option>
			<option value="vitamins">Sports Science, Vitamins & Supplements</option>
			<option value="stamps">Stamps</option>
			<option value="toys">Toy & Hobby</option>
			<option value="videogames">Video Games & Consoles</option>
			<option value="virtualmoney">Virtual Money & Commodities</option>
			<option value="random">Weird & Random Stuff</option>
		</select></td>
		<td><button type="submit"><img src="i/search.png" alt="search" /></button></td>
	</tr>
</table>
