#container {
clear: left;
margin: 0 auto;
padding-top: 100px;
margin-bottom: 20px;
width: 780px;
}

#logo {
text-align: center;
margin: 0 auto;
margin-bottom: 60px;
}

#logo img {
border: 1px solid #f00;
}