#timeline {
position: absolute;
width: 100%;
height: 220px;
top: 60px;
z-index: -4;
background-image: url('i/timeline.jpg');
background-repeat: no-repeat;
background-position: center center;
}

#profile-image {
position: absolute;
width: 172px;
height: 172px;
top: 160px;
left: 50%;
margin-left: -400px;
border: 3px solid #fff;
outline: 1px solid #999;
-webkit-box-shadow: 1px 1px 5px 0px rgba(0,0,0,1);
-moz-box-shadow: 1px 1px 5px 0px rgba(0,0,0,1);
box-shadow: 1px 1px 5px 0px rgba(0,0,0,1);
z-index: 50;
}

#timeline-username {
position: absolute;
left: 50%;
margin-left: -200px;
top: 191px;
color: #fff;
font-family: sans-serif;
text-shadow: 2px 2px 4px rgba(200, 200, 200, 0.5);
z-index: 75;
}

#timeline-username h4 {
padding: 0;
margin: 0;
font-size: 16px;
font-weight: normal;
}

#timeline-username h1 {
padding: 0;
margin: 0;
font-size: 30px;
font-weight: normal;
}

#timeline-links {
position: absolute;
left: 50%;
margin-left: -200px;
top: 250px;
z-index: 75;
padding-left: 2px;
}

#timeline-links a {
color: #fff;
background-color: #CD0000;
font-family: serif;
font-size: 12px;
text-decoration: none;
margin-right: 4px;
letter-spacing: 1.5px;
border: 1px solid #fff;
padding-left: 6px;
padding-right: 4px;
border-radius: 10px;
}

#container {
position: absolute;
left: 50%;
top: 280px;
width: 780px;
margin-left: -390px;
background-color: #FFF;
z-index: 25;
border: 1px solid #999;
border-top: 0;
padding-right: 5px;
padding-bottom: 20px;
}

#profile-nav {
margin-left: 190px;
margin-top: 4px;
margin-bottom: 8px;
padding-bottom: 2px;
border-bottom: 1px solid #CCC;
}

#profile-nav ul {
margin: 0;
padding: 0;
display: inline;
}

#profile-nav li {
list-style-type: none;
display: inline;
padding-right: 10px;
}

#profile-nav li a {
text-decoration: none;
border-top: 2px solid #fff;
font-size: 15px;
color: #CD0000;
font-variant: small-caps;
font-weight: bold;
}

#profile-nav li a:hover {
border-top: 2px solid #999;
}

#profile-nav li a:active {
border-top: 2px solid #0000FF;
}

#profile-info {
margin-top: 40px;
float: left;
width: 222px;
padding-left: 8px;
overflow: hidden;
}

#profile-info h4 {
font-family: sans-serif;
font-size: 14px;
color: #000;
}

#profile-info p {
padding-left: 2px;
margin-top: -12px;
font-family: serif;
color: #000;
font-size: 12px;
line-height: 18px;
}

.tag {
margin-top: -8px;
text-align: right;
padding-bottom: 8px;
}

#profile-text {
float: right;
width: 508px;
border-left: 1px solid #ccc;
padding-left: 12px;
padding-right: 8px;
}

#profile-text h2 {
padding: 0;
margin: 0;
padding-top: 10px;
font-size: 20px;
}

#item-images {
float: left;
width: 200px;
padding-top: 20px;
padding-bottom: 15px;
}

.thumb-main {
width: 200px;
height: 200px;
display: block;
border: 1px solid #333;
border-radius: 4px;
margin-bottom: 8px;
-webkit-box-shadow: 1px 1px 4px 0px rgba(0,0,0,.6);
-moz-box-shadow: 1px 1px 4px 0px rgba(0,0,0,.6);
box-shadow: 1px 1px 4px 0px rgba(0,0,0,.6);
}

.thumb-small {
width: 34px;
height: 34px;
display: inline;
border: 1px solid #999;
}

#profile-text tr {
padding: 0;
margin: 0;
}

.event {
padding: 0;
margin: 0;
font-size: 13px;
line-height: 20px;
padding-top: 12px;
}

.event-time {
padding: 0;
margin: 0;
color: #999;
width: 80px;
padding-left: 8px;
font-size: 12px;
font-family: serif;
vertical-align: middle;
}

.event-tag {
padding: 0;
margin: 0;
font-size: 13px;
padding-left: 50px;
}

.event-answer {
padding: 0;
margin: 0;
font-size: 13px;
line-height: 20px;
padding-left: 30px;
}

.event-tag a {
text-decoration: none;
color: #666;
}

.event-tag a:hover {
color: #CD0000;
}


.lnk-name {
text-decoration: none;
}

#profile-text td em {
font-style: normal;
font-weight: bold;
}

.lnk-item {
text-decoration: none;
color: #CD0000;
}

.quote {
color: #666;
font-family: serif;
font-style: italic;
}

#item-sidebar {
margin-top: 18px;
margin-right: 5px;
width: 280px;
background: #e4e4e4;
float: right;
border-radius: 20px;
}

#item-sidebar-left {
float: left;
padding-left: 12px;
}

#item-sidebar-left h3 {
padding: 0;
margin: 0;
padding-top: 15px;
font-size: 14px;
margin-bottom: 4px;
}

#item-sidebar-left h4 {
padding: 0;
margin: 0;
font-size: 18px;
margin-left: 30px;
text-shadow: 1px 1px 3px rgba(220, 220, 220, 0.8);
}

.dollars {
color: #00A000;
}

.btc {
color: #CD0000;
}

#item-sidebar-left h6 {
padding: 0;
margin: 0;
font-size: 12px;
margin-top: 4px;
margin-left: 30px;
}

#item-sidebar-left h5 {
padding: 0;
margin: 0;
font-size: 12px;
margin-top: 15px;
}

#item-sidebar-left h6 a {
text-decoration: none;
}

#item-sidebar-left em {
font-size: 20px;
color: #FF0000;
font-style: normal;
padding-left: 4px;
}

#item-sidebar-right {
float: right;
padding-top: 14px;
padding-bottom: 8px;
padding-right: 12px;
}

#item-sidebar-right ul {
margin: 0;
padding: 0;
}

#item-sidebar-right li {
list-style-type: none;
margin-bottom: 6px;
}

#item-sidebar-right li a {
display: block;
width: 90px;
border: 1px solid #fff;
text-align: center;
padding-top: 4px;
padding-bottom: 4px;
text-decoration: none;
font-size: 14px;
color: #fff;
background: #CD0000;
background: -webkit-linear-gradient(180deg, #cd0000, #900000); /* For Safari 5.1 to 6.0 */
background: -o-linear-gradient(180deg, #cd0000, #900000); /* For Opera 11.1 to 12.0 */
background: -moz-linear-gradient(180deg, #cd0000, #900000); /* For Firefox 3.6 to 15 */
background: linear-gradient(180deg, #cd0000, #900000); /* Standard syntax */
}

#item-sidebar-right li a.blue {
background: #0000CD;
background: -webkit-linear-gradient(180deg, #0000CD, #000090); /* For Safari 5.1 to 6.0 */
background: -o-linear-gradient(180deg, #0000CD, #000090); /* For Opera 11.1 to 12.0 */
background: -moz-linear-gradient(180deg, #0000CD, #000090); /* For Firefox 3.6 to 15 */
background: linear-gradient(180deg, #0000CD, #000090); /* Standard syntax */
}

#prf-details {
}

#prf-details p {
font-family: sans-serif;
font-size: 14px;
line-height: 22px;
}

#prf-details h2 {
font-size: 16px;
padding: 0;
margin: 0;
padding-top: 10px;
padding-bottom: 5px;
}

#item-details-table tr td {
font-family: serif;
font-size: 14px;
}

.item-details-name {
width: 140px;
}

.item-details-value {
padding-left: 20px;
}

#prf-bids {
display: none;
}

#quick-bid-bar {
margin-top: 15px;
border: 0;
background: #e4e4e4;
border-radius: 20px;
padding: 5px;
padding-left: 15px;
padding-right: 15px;
}

#qb-price {
float: left;
clear: left;
}

#qb-time {
clear: left;
float: left;
}

#qb-bid {
text-align: right;
margin-top: 4px;
}

#qb-bid input {
padding: 0;
margin: 0;
border: 1px solid #999;
height: 30px;
font-size: 18px;
padding-left: 5px;
padding-right: 5px;
width: 100px;
background-color: #f4f4f4;
}

#qb-bid button {
margin: 0;
padding: 0;
height: 32px;
border: 0;
font-size: 16px;
margin-left: 10px;
padding-left: 8px;
padding-right: 8px;
background-color: #CD0000;
color: #fff;
}

#prf-seller {
display: none;
}

#prf-watchers {
display: none;
}

#prf-qna {
display: none;
}

#prf-hashing {
display: none;
}