
#topbar {
background-color: #fff;
width: 100%;
height: 30px;
position: absolute;
top: 0;
left: 0;
z-index: -10;
}

#topbar-search {
position: absolute;
background: #333;
width: 100%;
height: 30px;
top: 30px;
left: 0px;
z-index: -4;
}

#header {
margin: 0 auto;
width: 780px;
margin-top: 5px;
}

#nav {
float: left;
}

#nav ul {
margin: 0;
padding: 0;
display: inline;
}

#nav ul li {
list-style-type: none;
display: inline;
padding-right: 10px;
}

#nav li a {
float: left;
text-decoration: none;
margin-right: 10px;
font-size: 14px;
padding-top: 2px;
text-transform: uppercase; 
color: #666;
text-shadow: none;
border-top: 2px solid #FFFFFF;
}

#nav li a:hover {
border-top: 2px solid #FF0000;
}

#nav li a:active {
border-top: 2px solid #666;
}

#login {
float: right;
}

#login a {
color: #999;
text-decoration: none;
text-shadow: none;
}

#logged-in {
display: none;
float: right;
color: #333;
}

#logged-in-name {
display: inline;
color: #CD0000;
padding-right: 22px;
}

#user-menu {
position: absolute;
display: none;
top: 6px;
left: 50%;
padding: 0;
margin: 0;
margin-left: 188px;
width: 204px;
padding-bottom: 20px;
}

#user-menu-arrow {
text-align: right;
padding-right: 4px;
}

#user-menu-arrow a {
text-decoration: none;
color: #ccc;
}

#user-menu ul {
display: none;
margin: 0;
margin-top: 5px;
padding: 0;
padding-left: 5px;
padding-bottom: 10px;
background-color: #fff;
list-style: none;
}

#user-menu div:hover > ul {
display: block;
}

#user-menu div:hover #user-menu-arrow a {
color: #fff;
background-color: #cd0000;
}

#user-menu ul li a {
color: #333;
text-decoration: none;
width: 190px;
padding-left: 3px;
display: block;
}

#user-menu ul li a em {
font-style: normal;
font-weight: bold;
}

#user-menu ul li a:hover {
color: #fff;
background-color: #CD0000;
}


#search-area-container {
margin: 0 auto;
padding-top: 7px;
width: 786px;
overflow: hidden;
}

#search-area {
}

#search-input {
width: 100%;
}

#search-input * {
width: 100%;
}

#search-input input {
border: 1px solid #999;
height: 20px;
font-size: 14px;
padding: 0;
padding-left: 10px;
border-radius: 10px;
}

#search-select select {
border: 1px solid #999;
height: 22px;
font-size: 14px;
margin-left: 15px;
padding-left: 5px;
border-radius: 10px;
}

#search-button button {
border: 1px solid #FFF;
background-color: #CD0000;
color: #FFF;
height: 22px;
font-size: 15px;
border-radius: 10px;
line-height: 16px;
}

#search-area tr, td {
padding: 0;
margin: 0;
}

#search-earmark {
padding-top: 3px;
font-size: 16px;
font-family: sans-serif;
color: #eee;
font-weight: bold;
padding-right: 10px;
}

#big-search-earmark {
padding-top: 3px;
}

#big-search-input * {
width: 100%;
}

#big-search-input {
width: 100%;
padding-left: 5px;
}

#big-search-input input {
margin: 0;
padding: 0;
border: 1px solid #999;
height: 33px;
font-size: 20px;
}

#big-search-select {
padding-left: 7px;
}

#big-search-select select {
margin: 0;
padding: 0;
border: 1px solid #999;
height: 35px;
font-size: 13px;
}

#big-search-button {
padding-left: 5px;
}

#big-search-button button {
margin: 0;
padding: 0;
padding-left: 5px;
padding-right: 5px;
border: 1px solid #F00;
background-color: #CD0000;
color: #FFF;
height: 35px;
font-size: 20px;
}

.clear {
clear: both;
}


#grayout {
visibility: hidden;
position: absolute;
z-index: 50;
background-color: #000;
opacity: 0.5;
top: 0;
left: 0;
width: 100%;
height: 100%;
}

#login-box {
display: none;
position: absolute;
z-index: 100;
background-color: #FFF;
top: 30px;
padding-top: 5px;
padding-left: 8px;
padding-bottom: 8px;
padding-right: 8px;
left: 50%;
margin-left: 165px;
width: 220px;
color: #999;
text-shadow: none;
font-size: 14px;
}

#login-box table, tr, td {
margin: 0;
padding: 0;
}

.login-tag {
text-align: right;
line-height: 28px;
padding-right: 4px;
}

.login-field {
width: 100%;
padding-right: 6px;
}

.login-field input {
width: 100%;
}

.login-buttons {
text-align: right;
}

#login-box input {
padding: 0;
margin: 0;
border: 1px solid #999;
height: 20px;
font-size: 13px;
padding-left: 4px;
}

#login-submit {
margin: 0;
border: 0;
background-color: #CD0000;
font-size: 16px;
padding: 6px;
color: #FFF;
}

#login-cancel {
margin: 0;
margin-left: 8px;
border: 0;
background-color: #999;
font-size: 16px;
color: #FFF;
padding: 6px;
}

#register-box {
display: none;
position: absolute;
top: 50%;
left: 50%;
width: 550px;
max-height: 85%;
margin-left: -300px;
margin-top: -290px;
background-color: #CCC;
border-radius: 20px;
z-index: 100;
padding-left: 20px;
padding-right: 20px;
padding-top: 15px;
padding-bottom: 15px;
overflow-y: auto;
-webkit-box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.5);
-moz-box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.5);
box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.5);
}

#register-box h3 {
padding: 0;
margin: 0;
font-size: 18px;
padding-bottom: 2px;
color: #fff;
}

#register-box h4 {
padding: 0;
margin: 0;
font-size: 14px;
padding-bottom: 12px;
color: #f8f8f8;
}

#register-box table, tr, td {
margin: 0;
padding: 0;
border: 0;
}

.register-tag {
padding-left: 30px;
padding-right: 10px;
text-align: right;
font-size: 14px;
color: #333;
}

.register-field {
width: 300px;
padding-top: 3px;
padding-bottom: 3px;
}

.register-field input {
width: 300px;
background-color: #ddd;
border: 0;
height: 24px;
font-size: 14px;
padding-left: 5px;
padding-right: 5px;
color: #666;
}

.register-field select {
background-color: #ddd;
color: #666;
border: 0;
margin: 0;
height: 27px;
font-size: 14px;
padding-left: 5px;
padding-right: 5px;
}

.req-comment {
color: #666;
font-size: 12px;
}

#register-wallet {
padding-left: 30px;
padding-top: 5px;
font-size: 12px;
}

#register-tos {
padding-left: 25px;
padding-top: 5px;
font-size: 13px;
}

#register-buttons {
text-align: right;
padding-right: 20px;
}

#register-submit {
margin: 0;
border: 0;
background-color: #CD0000;
font-size: 16px;
padding: 6px;
padding-left: 12px;
padding-right: 12px;
color: #FFF;
}

#register-cancel {
margin: 0;
margin-left: 8px;
border: 0;
background-color: #999;
font-size: 16px;
color: #FFF;
padding: 6px;
padding-left: 12px;
padding-right: 12px;
}

.req-star {
color: #FF0000;
}

.lnk-hash {
text-decoration: none;
font-style: italic;
font-weight: bold;
}

a {
color: #0000A0;
}

button {
cursor: pointer;
}

body {
background-color: #CCC9BC;
background: url('i/bg-body.png');
color: #000000;
margin: 0;
padding: 0;
font-family: sans-serif;
text-shadow: 1px 1px 3px rgba(100, 100, 100, 0.1);
}