#login {
display: none !important;
}

#logged-in {
display: inline !important;
}

#user-menu {
display: block !important;
}

#timeline {
position: absolute;
width: 100%;
height: 220px;
top: 60px;
z-index: -4;
background-image: url('i/timeline.jpg');
background-repeat: no-repeat;
background-position: center center;
}

#profile-image {
position: absolute;
width: 172px;
height: 172px;
top: 160px;
left: 50%;
margin-left: -400px;
border: 3px solid #fff;
outline: 1px solid #999;
-webkit-box-shadow: 1px 1px 5px 0px rgba(0,0,0,1);
-moz-box-shadow: 1px 1px 5px 0px rgba(0,0,0,1);
box-shadow: 1px 1px 5px 0px rgba(0,0,0,1);
z-index: 50;
}

#timeline-username {
position: absolute;
left: 50%;
margin-left: -200px;
top: 210px;
color: #fff;
font-family: sans-serif;
font-size: 30px;
text-shadow: 2px 2px 4px rgba(200, 200, 200, 0.5);
z-index: 75;
}

#timeline-links {
position: absolute;
left: 50%;
margin-left: -200px;
top: 250px;
z-index: 75;
padding-left: 2px;
}

#timeline-links a {
color: #fff;
background-color: #CD0000;
font-family: serif;
font-size: 12px;
text-decoration: none;
margin-right: 4px;
letter-spacing: 1.5px;
border: 1px solid #fff;
padding-left: 6px;
padding-right: 4px;
border-radius: 10px;
}

#container {
position: absolute;
left: 50%;
top: 280px;
width: 780px;
margin-left: -390px;
background-color: #FFF;
z-index: 25;
border: 1px solid #999;
border-top: 0;
padding-right: 5px;
padding-bottom: 20px;
}

#profile-nav {
margin-left: 190px;
margin-top: 4px;
margin-bottom: 8px;
padding-bottom: 2px;
border-bottom: 1px solid #CCC;
}

#profile-nav ul {
margin: 0;
padding: 0;
display: inline;
}

#profile-nav li {
list-style-type: none;
display: inline;
padding-right: 10px;
}

#profile-nav li a {
text-decoration: none;
border-top: 2px solid #fff;
font-size: 15px;
color: #CD0000;
font-variant: small-caps;
font-weight: bold;
}

#profile-nav li a:hover {
border-top: 2px solid #999;
}

#profile-nav li a:active {
border-top: 2px solid #0000FF;
}

#profile-info {
margin-top: 40px;
float: left;
width: 222px;
padding-left: 8px;
overflow: hidden;
}

#profile-info h4 {
font-family: sans-serif;
font-size: 14px;
color: #000;
}

#profile-info p {
padding-left: 2px;
margin-top: -12px;
font-family: serif;
color: #000;
font-size: 12px;
line-height: 18px;
}

.tag {
margin-top: -8px;
text-align: right;
padding-bottom: 8px;
}

#profile-text {
float: right;
width: 508px;
border-left: 1px solid #ccc;
padding-left: 12px;
padding-right: 8px;
}

#profile-text tr {
padding: 0;
margin: 0;
}

.event {
padding: 0;
margin: 0;
font-size: 13px;
line-height: 20px;
padding-top: 12px;
}

.event-time {
padding: 0;
margin: 0;
color: #999;
width: 80px;
padding-left: 8px;
font-size: 12px;
font-family: serif;
vertical-align: middle;
}

.event-tag {
padding: 0;
margin: 0;
font-size: 13px;
padding-left: 50px;
}

.event-tag a {
text-decoration: none;
color: #666;
}

.event-tag a:hover {
color: #CD0000;
}


.lnk-name {
text-decoration: none;
}

#profile-text td em {
font-style: normal;
font-weight: bold;
}

.lnk-item {
text-decoration: none;
color: #CD0000;
}

.quote {
color: #666;
font-family: serif;
font-style: italic;
}

#prf-pulse {
}

#prf-bidding {
display: none;
}

#prf-selling {
display: none;
}

#prf-watching {
display: none;
}

#prf-following {
display: none;
}

#prf-sharing {
display: none;
}

#prf-hashing {
display: none;
}