#search-area-container {
clear: left;
margin: 0 auto;
padding-top: 50px;
width: 780px;
}

#results-container {
clear: both;
margin: 0 auto;
margin-top: 10px;
width: 780px;
}

#results-options {
float: left;
width: 158px;
border: none;
padding: 0;
padding-top: 5px;
font-size: 12px;
}

#results-options h4 {
margin: 0;
font-size: 14px;
}

#results {
float: right;
width: 600px;
border: 1px solid #999;
padding: 10px;
background: #FFF;
color: #333;
}

#results h4 {
margin: 0;
}

.results-item-wrapper {
clear: both;
padding: 0;
margin: 0;
}

.results-item-wrapper h4 {
font-size: 15px;
}

.results-item-wrapper h4 a {
text-decoration: none;
color: #0000FF;
}

.results-item-wrapper h4 a:hover {
text-decoration: underline;
}

.results-img-wrapper {
float: left;
background: #FFF;
margin: 0 auto;
margin-right: 5px;
padding: 0;
border: 1px solid #999;
width: 200px;
overflow: hidden;
}

.results-price {
float: right;
padding: 0;
margin: 0;
padding-left: 5px;
padding-right: 5px;
background: #EEE;
text-align: right;
font-family: serif;
}

.results-price-btc {
color: #FF0000;
font-weight: bold;
}

.results-price-dollars {
color: #00AA00;
font-weight: bold;
}

.results-price-bids {
color: #333;
font-size: 12px;
}

.results-price-watchers {
color: #333;
font-size: 12px;
}

.results-details {
margin: 0;
padding-top: 10px;
margin-left: 215px;
}

.results-em {
font-weight: bold;
font-style: normal;
color: #000;
}

.results-endtime {
font-family: sans-serif;
font-style: italic;
font-size: 15px;
}

.results-soldby {
font-family: sans-serif;
font-style: italic;
font-size: 15px;
}

.results-soldby a {
font-weight: bold;
font-style: normal;
font-variant: small-caps;
text-decoration: none;
font-size: 16px;
}

.results-soldby a:hover {
text-decoration: underline;
}

.results-custom {
display: block;
margin-top: 5px;
margin-left: -5px;
font-family: serif;
color: #000;
}

.results-clear {
clear: both;
padding-top: 10px;
border-bottom: 1px solid #CCC;
margin-bottom: 10px;
}

#bottom-clear {
clear: both;
padding: 0;
margin: 0;
height: 20px;
width: 100%;
}