#nav {
	position: relative;
	border-radius: 10px;
	padding: 10px 12px;
	background: rgb(80, 80, 80);
	background: rgba(120, 120, 120, 0.5);
	color: #e0e0e0;
	margin: 0 auto;
	min-width: 600px;
	max-width: 1200px;
	margin-top: 20px;
}

#nav a {
	color: #d4d4d4;
	text-decoration: none;
}

#nav a:hover {
	text-decoration: underline;
}

#nav ul {
	display: inline;
}

#nav ul li {
	list-style-type: none;
	display: inline;
	padding-right: 10px;
}

#nav ul li a {
	text-transform: uppercase; 
}

#logged-in {
	display: none;
}

#login-box {
	position: absolute;
	display: none;
	z-index: 50;
	right: 0px;
	top: 38px;
	border-radius: 0px 10px 10px 10px;
	background-color: #333;
	color: #e0e0e0;
	padding: 10px;
	box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.2);
}

#login-box label {
	display: block;
	float: left;
	clear: left;
	text-align: right;
	width: 80px;
	font-size: 0.9em;
	padding-right: 8px;
}

#login-box input {
	display: block;
	width: 150px;
	margin-bottom: 5px;
	padding: 3px;
}

#login-box button {
	margin-left: 5px;
}

#kb-logo {
	margin: 0 auto;
	background-image: url('i/kb-logo.jpg');
	width: 400px;
	height: 145px;
	border-radius: 10px;
	box-shadow: 1px 1px 4px 2px rgba(0, 0, 0, 0.3);
}

#kb-logo h1, #kb-logo h2 {
	display: none;
}

#search {
	padding: 5px 10px;
	border-radius: 10px;
	background: rgb(120, 120, 120);
	background: rgba(220, 220, 220, 0.5);
	color: #fff;
	margin: 0 auto;
	min-width: 600px;
	max-width: 1200px;
	margin-top: 20px;
	margin-bottom: 20px;
}

#search img {
	padding-right: 5px;
	padding-top: 3px;
	height: 30px;
}

#search input {
	padding: 0px 5px;
	height: 30px;
	font-size: 1.05em;
}

.searchbar {
	width: 100%;
}

#search select {
	margin-left: 15px;
	height: 30px;
	font-size: 1.05em;
}

#search button {
	margin-left: 5px;
	padding-left: 8px;
	padding-right: 3px;
	padding-top: 2px;
	height: 30px;
	font-size: 1.1em;
}

#search button img {
	height: 20px;
}

#center-container {
	margin: 0 auto;	
	margin-top: 10%;
	text-align: center;
}

#main {
	margin: 0 auto;
	min-width: 600px;
	max-width: 1200px;
	margin-top: 20px;
}

#profile {
	width: 250px;
	margin-left: -15px;
	border-radius: 10px;
	padding: 10px 12px;
	float: left;
	background: rgb(180, 0, 0);
	background: rgba(160, 0, 0, 0.5);
	color: #fff;
}

#profile h1, #profile h2, #profile h3, #profile h4, #profile h5, #profile h6 {
	color: #ff4038;
	margin-top: 15px;
	margin-bottom: 10px;
}

#profile p {
	margin-bottom: 10px;
	margin-top: 10px;
}

#profile-img {
	display: block;
	border: 0;
	width: 200px;
	height: auto;
	margin: 0 auto;
	margin-top: 8px;
	margin-bottom: 12px;
	border-radius: 10px;
	box-shadow: 2px 2px 3px 1px rgba(0, 0, 0, 0.3);
}

#profile ul {
	font-family: 'Nixie One', serif;
	list-style-position: inside;
	font-size: 0.8em;
	padding-left: 1em;
	text-indent: -1em;
}

#content {
	margin-left: 285px;
	max-width: 900px;
}

#content-header {
	width: 100%;
	border-radius: 10px;
	padding: 10px 12px;
	margin-bottom: 20px;
	background: rgb(80, 80, 80);
	background: rgba(120, 120, 120, 0.5);
	color: #e0e0e0;
}

#content-subheader {
	width: 100%;
	border-radius: 10px;
	padding: 10px 12px;
	margin-bottom: 20px;
	background: rgb(15, 20, 80);
	background: rgba(15, 20, 80, 0.5);
	color: #e0e0e0;
}

#content-body {
	width: 100%;
	border-radius: 10px;
	padding: 10px 12px;
	background: rgb(80, 80, 80);
	background: rgba(120, 120, 120, 0.5);
	color: #e0e0e0;
}

#drop-content-usermenu {
	position: absolute;
	top: 38px;
	right: 0;
	padding: 5px 15px 5px 5px;
	border-radius: 0px 10px 10px 10px;
	background-color: #333;
	color: #e0e0e0;
	padding: 10px;
	box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.2);
}

#drop-content-usermenu ul {
	display: block;
}

#drop-content-usermenu ul li {
	display: block;
	padding: 0;
	margin: 0;
}

#drop-content-usermenu ul li a {
	margin: 0;
	padding: 3px;
	font-size: 0.85em;
	text-decoration: none;
	width: 100%;
	display: block;
}

#drop-content-usermenu ul li a em {
	font-style: normal;
	font-weight: bold;
}

#drop-content-usermenu ul li a:hover {
	color: #fff;
	background-color: #CD0000;
	text-decoration: none;
}

#register-box {
	display: none;
	position: absolute;
	top: 50%;
	left: 50%;
	width: 550px;
	max-height: 85%;
	margin-left: -300px;
	margin-top: -290px;
	background-color: #CCC;
	border-radius: 20px;
	z-index: 100;
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 15px;
	padding-bottom: 15px;
	overflow-y: auto;
	-webkit-box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.5);
	-moz-box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.5);
	box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.5);
}

#register-box h3 {
	padding-bottom: 10px;
}

#register-box h4 {
	padding-bottom: 20px;
	color: #cd0000;
	text-shadow: 2px 2px 2px rgba(255, 255, 255, 0.3);
}

#register-box label {
	display: block;
	float: left;
	clear: left;
	text-align: right;
	width: 250px;
	font-size: 0.9em;
	padding-right: 8px;
}

#register-box input[type="text"] {
	display: block;
	width: 270px;
	margin-bottom: 5px;
	padding: 5px;
}

#register-box select {
	display: block;
	width: 280px;
	margin-bottom: 5px;
	padding: 5px;
}

#register-box button {
	margin-left: 5px;
}

#register-box .form-line:nth-of-type(1) {
	margin-top: 25px;
}

.links {
	float: left;
}

.login {
	float: right;
}

.form-line {
	clear: both;
	margin-top: 10px;
	text-align: right;
}

.tag {
	display: block;
	text-align: right;
}

.tag a {
	color: #d0d0d0;
}

.lnk-hash {
	background-color: rgba(0, 0, 200, 0.1);
	padding-left: 4px;
	padding-right: 4px;
	color: #6666ff;
}

.button-wrapper {
	width: 100%;
	text-align: center;
}

.button-wrapper button {
	margin-left: 5px;
	margin-right: 5px;
}

.blurb {
	padding-top: 10px;
	padding-left: 15px;
	padding-bottom: 10px;
	margin-bottom: 10px;
	background: rgb(100, 100, 100);
	background: rgba(255, 255, 255, 0.2);
}

.blurb h6 {
	padding-left: 15px;
	padding-top: 2px;
	font-family: 'Nixie One', serif;
	font-weight: normal;
	font-size: 0.8em;
	text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.8);
}

.blurb ul {
	padding-bottom: 4px;
}

.blurb li {
	list-style: none;
	padding-left: 25px;
	font-family: 'Nixie One', serif;
	font-size: 0.8em;
	clear: both;
}

.blurb li a {
	color: #f0f0f0;
	text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.8);
}

.event {
	float: left;
	clear: left;
	padding-bottom: 10px;
	border-bottom: 1px dashed #999;
	margin-bottom: 15px;
	width: 85%;
}

.event em {
	color: #f4f4f4;
}

.event-tag {
	display: block;
	clear: none;
	padding-top: 5px;
	padding-left: 50px;
	font-size: 0.8em;
	color: #999;
}

.event-tag a {
	color: #c0c0c0;
}

.event-time {
	float: right;
	clear: right;
	font-family: sans-serif;
	color: #b0b0b0;
	width: 15%;
	text-align: right;
}

.lnk-name {
	color: #ff6060;
}

.clear {
	clear: both;
}

.tabs input[type=radio] {
	position: absolute;
	top: -9999px;
	left: -9999px;
}

.tabs {
	list-style: none;
	position: relative;
}

.tabs li{
  	float: left;
}

.tabs label {
	display: block;
	padding: 6px 10px 0px 10px;
	height: 24px;
	font-size: 0.9em;
	background: rgb(80, 80, 80);
	background: rgba(120, 120, 120, 0.5);
	color: #e0e0e0;
	cursor: pointer;
	position: relative;
	-webkit-transition: all 0.1s ease-in-out;
	-moz-transition: all 0.1s ease-in-out;
	-o-transition: all 0.1s ease-in-out;
	transition: all 0.1s ease-in-out;
}

.tabs label:hover {
	background: rgb(120, 120, 120);
	background: rgba(255, 255, 255, 0.5);
	color: #fff;
	top: -2px;
	height: 26px;
}
       
[id^=tab]:checked + label {
	background: rgb(200, 40, 40);
	background: rgba(200, 0, 0, 0.6);
	color: #fff;
    top: -2px;
    height: 26px;
}

[id^=tab]:checked ~ [id^=tab-content] {
	display: block;
}

.tab-content{
	z-index: 10;
	display: none;
	position: absolute;
	top: 30px;
	left: 0;
	width: 100%;
	background: rgb(80, 80, 80);
	background: rgba(120, 120, 120, 0.5);
	color: #e0e0e0;
	padding: 10px;
}

.dropdown input[type=checkbox] {
	position: absolute;
	top: -9999px;
	left: -9999px;
}

.dropdown {
	list-style: none;
}

.dropdown label {
	color: #808080;
	cursor: pointer;
}

[id^=drop]:checked ~ [id^=drop-content] {
	display: block;
}

.drop-content{
	z-index: 10;
	display: none;
}

.req-star {
	color: #cd0000;
}

.req-comment {
	font-size: 0.8em;
}

button .inactive {
	background-color: #666;
	background: linear-gradient(rgba(100, 100, 100, 1), rgba(75, 75, 75, 1));
	cursor: default;
}

button {
	margin: 0;
	border: 0;
	padding: 6px 10px;
	background-color: #cd0000;
	background: linear-gradient(rgba(210, 0, 0, 1), rgba(170, 0, 0, 1));
	color: #fff;
	font-size: 1em;
	border-radius: 3px;
	text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
	box-shadow: 1px 1px 2px 0px rgba(0,0,0,0.5);
	cursor: pointer;
}

input {
	border: 0;
	background: rgb(200, 200, 200);
	background: rgba(255, 255, 255, 0.5);
}

select {
	border: 0;
	background: rgb(200, 200, 200);
	background: rgba(255, 255, 255, 0.5);
}

h1 {
	text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
	font-size: 1.8em;
}

h2 {
	text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
	font-size: 1.4em;
}

h3 {
	text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
	font-size: 1.2em;
}

h4 {
	text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
	font-size: 1.1em;
}

h5 {
	text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
	font-size: 1em;
}

h6 {
	text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
	font-size: 0.9em;
}

p {
	font-family: 'Nixie One', serif;
	font-size: 0.75em;
	line-height: 1.55em;
	text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.8);
}

em {
	font-weight: bold;
	font-style: normal;
}

a {
	color: #f4f4f4;
	text-decoration: underline;
}

body {
	margin: 0;
	padding: 0px 20px;
	background: #666;
	background: url('i/5.jpg');
	background-size: 100%;
	color: #000000;
	font-family: 'Roboto', sans-serif;
	letter-spacing: 1px;
    font-size:100%;
    line-height:1.125em;
    -webkit-font-smoothing: antialiased;
}


html, div, h1, h2, h3, h4, h5, h6, ul, ol, dl, li, dt, dd, p, blockquote, pre, form, fieldset, label, table, th, td, a { margin: 0; padding: 0; }
input, select { margin: 0; }
